@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Changa:wght@200;400&family=Fira+Sans:wght@100&family=Inconsolata:wght@300&family=PT+Sans:ital@1&family=Roboto+Condensed:wght@300&display=swap');
body{
    font-family: 'Changa', sans-serif;
     min-height:800px;
     background-image: url("https://images.pexels.com/photos/7130467/pexels-photo-7130467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
     background-size: cover;
     background-repeat: no-repeat;
}